<div class="home_summary_message">
  <img src="assets/landing.png" class="landing_img">
  <div class="hoge_summary_div">
    <h1 class="home_h1">
      <span class="home_span">
        役立つボットをつくってみよう
        情報収集はTwitterで
      </span>
    </h1>
  </div>
</div>
