default: &default
  # adapter: mysql2
  adapter: postgresql
  encoding: utf8
  pool: 5
  username: root
  password: password
development:
  <<: *default
  database: harmox
  # socket: /private/tmp/mysql.sock
  username: root
  password: password
  # host: 127.0.0.1
test:
  <<: *default
  database: harmox
production:
  <<: *default
  database: harmox
  # socket: /var/lib/mysql/mysql.sock
