/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main_div {
   background-color: #fff;
   border-radius: 30px 30px 30px 30px;
}

 .main_application {
   position: absolute;
   top: 8px;
   left: 8px;
   bottom: 8px;
   right: 8px;

   overflow: scroll;
   background-color: #888;
}

.header_layout {
  padding-top: 10px;
  padding-left: 8px;
}

.twitter_layout {
  margin-top: 29px;
  margin-right: 10px;
  float: right;
}

.main_footer {
  padding-top: 30px;
}
