// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_summary_message {
  // display: table-cell;
  width: 90vw;
  margin-top: 20px;
  position: relative;
  margin-left: -20px;
}

.br:before {
	content: "\A";
	white-space: pre;
}

.landing_text {
  position: absolute;
  top: 10%;
  left: -15%;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;

  color: #DDDDDD;
  text-align: center;
}

.landing_img {
  border-radius: 30px 30px 30px 30px;
}
